.contenedor{
    display: grid;
    /* las columna de nuestro grid*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*las filas de nuestro grid*/
    grid-template-rows: 40px 200px 40px;
}
.item1{/*iria de la primera a la cuerta columan*/
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blueviolet;
}