/* Estilo para el div con margen */
#margen {
    background-color: lightblue;
    margin: 40px;
    padding: 10px;
}

/* Estilo para el div con padding */
#relleno {
    background-color: lightgreen;
    padding: 50px;
    margin: 10px;
}

/* Estilo para el div con borde */
#borde {
    background-color: lightcoral;
    border: 5px solid red;
    margin: 10px;
    padding: 10px;
}

/* tabla de emociones
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Sentimientos positivos */
#felicidad {
    border: 30px solid green;
    padding: 20px 20px 15px 5px;
    margin: 5px 10px 15px 20px;
    background-color: #e6ffe6;
}

#amor {
    border: 23px solid pink;
    padding: 15px 15px 20px 10px;
    margin: 10px 5px 15px 5px;
    background-color: #fff0f5;
}

#gratitud {
    border: 3px solid orange;
    padding: 15px 5px 10px 20px;
    margin: 5px 20px 10px 15px;
    background-color: #ffd986;
}

#esperanza {
    border: 3px solid blue;
    padding: 12px 8px 5px 15px;
    margin: 8px 15px 5px 10px;
    background-color: #e6f0ff;
}

#sorpresa {
    border: 3px solid violet;
    padding: 8px 18px 6px 12px;
    margin: 6px 18px 10px 12px;
    background-color: #f0e6ff;
}

/* Sentimientos negativos */
#tristeza {
    border: 3px dotted gray;
    padding: 20px 10px 5px 15px;
    margin: 10px 15px 5px 20px;
    background-color: #f2f2f2;
}

#ira {
    border: 3px dotted red;
    padding: 30px 25px 5px 8px;
    margin: 15px 8px 5px 10px;
    background-color: #ffe6e6;
}

#miedo {
    border: 3px dotted black;
    padding: 21px 15px 25px 15px;
    margin: 18px 11px 20px 25px;
    background-color: #e0e0e0;
}

#odio {
    border: 3px dotted darkred;
    padding: 10px 17px 15px 20px;
    margin: 45px 25px 10px 15px;
    background-color: #ffcccc;
}
